@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	background: ##29393d;
	margin:0px;
}

p,ul{
	color:#524c56;
	font-size: 160%;
	line-height: 155%;
	padding: 3%;
	text-indent: 2%;
	text-align: justify;
}

h3{
	font-size: 175%;
	line-height:155%;
	font-weight: 500;
	color: #524c56;
	text-align: center;
	text-transform: uppercase;
	padding: 0;
}

a{
	color: #524c56;
	text-decoration: none;
	font-weight: bold;
}

a:hoover{
	/*color: #c3d7df;*/
	color:#e80c09;
}

.nav-link{
	font-size: 75%;
}

#contenedor{
	max-width: 100%;
	margin: 0 auto;
}

header{
	width: 100%;
	height: 100px;
	top:0;
	left: 0;
}

header #logo img{
	margin: 20px;
	float: left;
	width: 200px;
}


/*NAVIGATION*/

nav{
	float: right;
	padding: 0px 0px 0 0;
	width:100%;
}

#menu-icon{
	display: none;
	font-size: 50px
}

.carousel-item{
	height: 75vh;
}


.d-bloc{
	width: 1204px; 
	height: 550px; 
	margin:-50px;
}


ul{
	list-style: none;
}

nav li a ul{
	text-align: center;
    width: 100%;
}


/*Estiliza en linea estos elementos*/
nav ul{
	font-size: 150%;
	display: inline-block;
	float: right;
	padding: 10px;
}


/*FOOTER*/
#creadores{
	font-family: 'Great Vibes', cursive;
	color: #f5f5f5;
}

footer{
	background: #2c3e50;
	width: 100%;
	overflow: auto;
	position: fixed;
}

.icon-text{
	width: 100%;
	margin: 0 auto;
}

.icon-text-icon{
	float: left;
	width: 20%;
	padding: 4% 4% 2% 0;
}

.footer-nav{
	text-align: center;
}

.footer-nav a{
	font-size: 160%;
	color: #c3d7df;
	font-weight: 300;
}

.footer-nav a:hover{
	color:#f5f5f5;
}

.social{
	text-align: center;
}

.social li{
	display: inline;
}


.social i{
	font-size:420%;
	margin: 1%;
	padding: 3%
	color: #c3d7df;
}


#testimonio{
	text-align: center;
}



/* ------------------- hoy*/

article{
	float: left;
	width: 250px;
	text-align: justify;
	text-align: center;
	font-family: 'Roboto', Sans-Serif;
	font-size: 0.3em;
}

div[id^="profesor"]{
	width: 250px;
	height: 300px;
	background-position: center; 
	background-size: cover;  
}

#profesor1{
	background-image: url("https://www.ecestaticos.com/imagestatic/clipping/403/441/4034411604b2cc61ce9cd518de0da0e5/el-profesor-terapeuta-y-colega-el-futuro-pluriempleado-que-le-espera-a-los-docentes.jpg?mtime=1507562564");
}

#profesor2{
	background-image: url("http://mujeresymas.cl/wp-content/uploads/2015/10/Profesor-800x500_c.jpg");\
}

#profesor3{
	background-image: url("https://i.avoz.es/default/2017/10/09/00121507529161552503418/Foto/S08O7083.jpg");
}

#profesor4{
	background-image: url("https://www.superprof.mx/imagenes/anuncios/profesor-home-profesora-britanica-nativa-inglaterra-con-anos-experiencia-clases-todo-niveles-cdmx.jpg");
}

#profesores{
	display: inline;
}


article:nth-child(1){
	margin: 10px;
}


/*SECCION CONTACTANOS*/
.semiMap{
	width: 100%;
	height: 350px;
}

/*SECCION NOTICIAS*/
.featured-article{
	width: 482px;
	height: 350px;
	position: relative;
	margin-bottom: 1em;
}

.featured-article .block-title{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	background: rgba(0,0,0,0.7);
	padding: .5em;
	width: 100%;
	color: #fff;
}

.featured-article .block-title h4{
	margin: 0;
}

.main-list{
	padding-left: .5em;
}

.main-list .media{
	padding-bottom: 1.1em;
	border-bottom: 1px solid #e8e8e8;
}

/*NUEVAS PRUEBAS*/
.container.gallery-container{
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
}

.gallery-container h4{
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description{
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery{
    padding: 40px;
}

.tz-gallery .lightbox img{
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}


.navbar li a:hover{
	padding:1% 0;
	font-size: 0.7em;
}

#lista ul li{

	list-style-type: square;
}

/* MENU VERTICAL*/
.vertical{
	position: fixed;
	left: 0;
	top: 200px;
	z-index: 2000;
}

.vertical ul{
	list-style: none;
}

.vertical ul li a{
	display: inline-block;
	color: #2c3e50;
	padding: 10px 15px;
	text-decoration: none;
	width: 85%;
	background: #f2f2f2;
}

.vertical ul li a:hover{
	padding: 10px 30px;
}

@media(max-width: 640px){
	.vertical{
		display: none;
	}
}

/*
#personal,body,#materias{
    background: linear-gradient(to right, #ece9e6, #ffffff); 
}*/

/*SEPARATE SECTIONS*/
.colour-block{
	background:#823A9C;
	width:60%;
	padding:7% 20% 10% 20%;
	color:#fff;
}

.white-block{
	background:#fff;
	width:60%;
	padding:7% 20% 10% 20%;
	color:#823A9C;
}

h1{
	text-align:center;
	font-size:80px;
	font-family:'wire one', serif;
	font-weight:normal;
}

p{
	font-size:20px;
	font-family:'Raleway', serif;
}


#QuienesSomos,#Programa,#maestros,#personal,#nombreProfesor,#contactanos{
	background: #f2f2f2;
}

#nombreProfesor{
	text-align: center;
}

#tabla-materias,#noticias,#contactanos,#graph{
	padding-top: 5%;
	padding-bottom: 5%;
}

#Programa{
	padding-top: 5%;
}



/*ESTILOS PARA LA GRAFICA*/
div#graph {
  text-align: center;
}

div#containerGraph{
  width: 1000px;
  height: 600px;
  margin: auto;
  background-color: #2F4A6D;
}

svg {
  width: 100%;
  height: 100%;
}

.bar {
  fill: #80cbc4;
}

text {
  font-size: 12px;
  fill: #fff;
}

path {
  stroke: gray;
}

line {
  stroke: gray;
}

line#limit {
  stroke: #FED966;
  stroke-width: 3;
  stroke-dasharray: 3 6;
}

.grid path {
  stroke-width: 0;
}

.grid .tick line {
  stroke: #9FAAAE;
  stroke-opacity: 0.3;
}

text.divergence {
  font-size: 14px;
  fill: #2F4A6D;
}

text.value {
  font-size: 14px;
}

text.title {
  font-size: 22px;
  font-weight: 600;
}

text.label {
  font-size: 14px;
  font-weight: 400;
}

text.source {
  font-size: 10px;
}

#programa{
	float: left;
}

#lineadetiempo{
	float: right;
}


/* timeline */
.Timeline {
  display: flex;
  align-items: center;
  height: 500px;
}

.event1,
.event2, .event3 {
  position: relative;
}

.event1Bubble {
  position: absolute;
  background-color: rgba(158, 158, 158, 0.1);
  width: 139px;
  height: 60px;
  top: -70px;
  left: -15px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(158, 158, 158, 0.64)
}

.event2Bubble {
  position: absolute;
  background-color: rgba(158, 158, 158, 0.1);
  width: 139px;
  height: 60px;
  left: -105px;
  top: 33px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(158, 158, 158, 0.64)
}

.event1Bubble:after,
.event1Bubble:before,
.event2Bubble:after,
.event2Bubble:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
}

.event1Bubble:before {
  bottom: -10px;
  left: 13px;
  border-top-color: rgba(222, 222, 222, 0.66);
  border-width: 12px;
}

.event1Bubble:after {
  bottom: -8px;
  left: 13px;
  border-top-color: #F6F6F6;
  border-width: 12px;
}

.event2Bubble:before {
  bottom: 59px;
  left: 103px;
  border-top-color: rgba(222, 222, 222, 0.66);
  border-width: 12px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.event2Bubble:after {
  bottom: 57px;
  left: 103px;
  border-top-color: #F6F6F6;
  border-width: 12px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.eventTime {
  display: flex;
}

.DayDigit {
  font-size: 27px;
  font-family: "Arial Black", Gadget, sans-serif;
  margin-left: 10px;
  color: #4C4A4A;
}

.Day {
  font-size: 11px;
  margin-left: 5px;
  font-weight: bold;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #4C4A4A;
}

.MonthYear {
  font-weight: 600;
  line-height: 10px;
  color: #9E9E9E;
  font-size: 9px;
}

.eventTitle {
  font-family: "Arial Black", Gadget, sans-serif;
  color: #a71930;
  font-size: 11px;
  text-transform: uppercase;
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 12px;
  margin-top: -2px;
}

.time {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  width: 50px;
  font-size: 8px;
  margin-top: -3px;
  margin-left: -5px;
  color: #9E9E9E;
}

.eventAuthor {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color: #9E9E9E;
  font-size: 8px;
  width: 100px;
  top: -8px;
  left: 63px;
}

.event2Author {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color: #9E9E9E;
  font-size: 8px;
  width: 100px;
  top: 96px;
  left: -32px;
}

.time2{
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  width: 50px;
  font-size: 8px;
  margin-top: -31px;
  margin-left: -5px;
  color: #9E9E9E;
}

.now{
     background-color: #004165;
    color: white;
    border-radius: 7px;
    margin: 5px;
    padding: 4px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid white;
    font-weight: bold;
    box-shadow: 0 0 0 2px #004165
}

.futureGray{
     filter: grayscale(1);
    -webkit-filter: grayscale(1);
  
}

.futureOpacity{
  -webkit-filter: opacity(.3);
  filter: opacity(.3);
  
}